.sidebar {
  flex: 1;
  min-height: 100vh ;
  background-color: rgb(251, 251, 255);
  position: sticky;
  top: 50px;
}

.admin-name h2 {
  text-align: center;
  margin-top: 0;
  letter-spacing: 2px;

}

.sidebarWrapper {
  min-height: 100vh;
  padding: 20px;
  color: white;
  background: #000022;
  box-shadow: #000022 3px -7px 20px 0px;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 15px;
  color: rgb(187, 186, 186);
  letter-spacing: 2px;
}

.sidebarList {
  list-style: none;
  padding: 0;
}

.sidebarListItem {
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  color: #000022;
  background-color: rgb(240, 240, 255);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}