.topRight {
  padding: 10px;
}

.topProfile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  position: relative;
  gap: 8px;
  width: fit-content;
}
.topbarWrapper{
  display: flex
;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px;
}
.topUsername {
  letter-spacing: 2px;
  font-weight: 500;
  color: #333;
}

.topAvatar {
  height: 35px;
  width: auto;
}

.topDropdown {
  position: absolute;
  top: 60px;
  right: 40px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 999;
      width: 230px;
    letter-spacing: 2px;
}

.topDropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topDropdown li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.topDropdown li:hover {
  background-color: #f0f0f0;
}
.pageTitle{
      font-size: 28px;
    letter-spacing: 2px;
    padding: 15px;
    font-weight: 500;
}