.brandsList {
  flex: 4;
  padding: 20px;
}

.brandsListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.brandLogo {
  height: 40px;
  max-width: 100%;
  object-fit: contain;
}

