.header {
    flex: 4;
    padding: 20px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerAddButton {
    width: 120px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.headerContainer {
    display: flex;
}

.headerShow {
    flex: 1;
    margin-right: 20px;
}

.headerShowTop {
    display: flex
;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.headerShowTitle{
        font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
}
.headerShowImg {
    width: 500px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.headerShowTopTitle {
    display: flex;
    flex-direction: column;
}

.headerUpdate {
    flex: 2;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.headerUpdateTitle {
    font-size: 20px;
    margin-bottom: 20px;
}

.headerUpdateForm {
    display: flex;
    justify-content: space-between;
}

.headerUpdateLeft {
    flex: 1;
}


.successMessage {
  color: green;
  margin-top: 10px;
}

.errorMessage {
  color: red;
  margin-top: 10px;
}

.headerUpdateImg{
    width: 480px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.headerUpdateRight{
gap: 20px;
} 
.headerUpdateUpload{
    margin-left: 0;
}