.productList {
    
    width: 100%;
}

.productWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productListItem {
    display: flex;
    align-items: center;
}

.productListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.productListEdit {}

.productListDelete {
    cursor: pointer;
}