.productCardList {
    flex: 4;
}

.productCardListHeader {
    display: flex;
    align-items: center;
}

.productCardListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}


