.userList {
  width: 100%;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.css-20bmp1-MuiSvgIcon-root {
  fill: #000022;
}

.userListEdit {}

.css-4k60b2-MuiDataGrid-root .MuiDataGrid-cell--textLeft {
  text-align: center;

}

.userListDelete {
  cursor: pointer;
}

.userWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}