.header-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;

    max-height: 600px;
    overflow: hidden;
}

.header-img-container {
    height: 100%;
    width: 100%;
    text-align: center;
}

.header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 128px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px white;
    letter-spacing: 3px;
    font-family: math;
    margin: 0;
    text-align: center;
}

.header-desc {
    width: 35%;
    font-size: 18px;
    color: white;
    font-weight: 300;
    letter-spacing: 2.5px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;
}

.header-button {
    border-radius: 15px;
    padding: 13px 20px;
    box-sizing: border-box;
    border: none;
    background-color: #1471B5;
    color: white;
    font-family: Arial, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    display: inline-block;
    transition: color 0.5s, background-color 0.5s, border 0.5s;
}

.header-button:hover {
    text-decoration: none;
    background: white;
    color: #1471B5;
    border: 1px solid #1471B5;
    padding: 12.2px 19.2px;
}

@media only screen and (max-width:988px) {
    .header-wrapper {
        max-height: 700px;
    }

    .header-desc {
        margin-top: 0;
        width: 50%;
    }

}

@media only screen and (max-width:590px) {
    .header-wrapper {
        max-height: 800px;
    }

    .header-title {
        font-size: 80px;
    }
    .header-desc {
        width: 60%;
    }
}