.list-header {
    position: relative;
    width: 100%;
}

.list-header-img {
    width: 100vw;
    height: 450px;
    object-fit: cover;
    position: relative;
}

.list-title {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    margin: 0;
    font-size: 70px;
    font-weight: 500;
    color: #D5E3EB;
    letter-spacing: 7px;
}

.list-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    margin: 20px 30px;
    position: relative;
    row-gap: 25px;
    margin-bottom: 0;
}

.list-filter::after {
    content: " ";
    width: 1000px;
    height: 10px;
    border-top: 2px solid #04243C;
    position: absolute;
    top: 150%;
    overflow: hidden;
}

.filter {
    height: 50px;
    width: 250px;
    font-size: 18px;
    color: #04243C;
    background-color: #D5E3EB;
    border: 1px solid #1471B5;
    text-align: center;
}

.reset-filters{
    height: 50px;
    width: 250px;
    font-size: 18px;
    color: #04243C;
    background-color: #D5E3EB;
    border: 1px solid #1471B5;
    text-align: center;
    cursor: pointer;
    transition: background-color .6 ease, border .6s ease;
}

.reset-filters:hover{
    background-color:#1471B5 ;
    border: 1px solid #D5E3EB;
}

.filter-option {
    font-size: 14px;
    text-align: start;
    color: black;
    background-color: white;
}

.filter-option:hover {
    background-color: white;
}

.list-products {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.list-product {
    background-color: #a1a4a826;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding: 20px 40px;
    margin: 20px 90px;
    border: 1px solid black;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    max-width: 700px;
    transition: background-color .5s ease;
}

.list-product-img {
    width: fit-content;
    background: transparent;
    transition: background-color .5s ease;
}

.product-img {
    mix-blend-mode: multiply;
    height: 200px;
    width: auto;
    padding: 30px;
}

.product-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}

.product-info-title-desc {
    display: flex;
    flex-direction: 3;
    flex-direction: column;
    align-items: flex-start;

}

.product-info-title {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 2px;
    color: black;
    transition: color .2s ease;

}

.product-info-desc {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    font-style: italic;
    color: black;
    transition: color .2s ease;
}

.product-info-availability {
    color: #1BC049;
    font-size: 12px;
    font-weight: normal;
    display: flex;
    flex: 1;
    align-items: center;
    letter-spacing: 2px;
}

.product-info-availability::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1BC049;
    margin-right: 8px;
    vertical-align: middle;
}

.product-info {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.filter-title {
    font-weight: bolder;
}

.product-info-terrain::after {
    content: "|";
}

.list-product:hover {
    background-color: #1471B5;
}

.list-product:hover .product-info-title,
.list-product:hover .product-info-desc,
.list-product:hover .product-info-terrain,
.list-product:hover .product-info-activity {
    color: white;
}

.product-info-activity,
.product-info-terrain {
    color: black;
    transition: color .2s ease;
}

.list-product:hover .list-product-img {
    background-color: white;
}

.pagination {

    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}

.pagination button {
    background-color: #1471B5;
    color: white;
    border: 1px solid gray;
}

.active {
    background-color: white !important;
    color: #1471B5 !important;
    border: 1px solid #1471B5 !important;
    scale: 1.2;
    transition: scale .5s ease;
}

@media only screen and (max-width:1225px) {
    .list-filter::after {
        width: 880px;
    }
}

@media only screen and (max-width:950px) {
    .list-filter::after {
        width: 750px;
    }
}

@media only screen and (max-width:889px) {
    .list-filter::after {
        width: 650px;
        top: 110%;
    }
}

@media only screen and (max-width:725px) {
    .list-filter::after {
        width: 450px;
    }

    .list-title {
        font-size: 48px;
    }
}

@media only screen and (max-width:475px) {
    .list-filter::after {
        width: 300px;
    }

    .product-img {
        height: 140px;
    }

    .list-title {
        font-size: 35px;
    }

    .product-title {
        flex-direction: column;
        align-items: flex-start;

    }

    .product-info {
        row-gap: 0;
    }
}

@media only screen and (max-width: 380px) {
    .product-img {
        height: 120px;
    }
}

@media only screen and (max-width:990px) {
    .list-product {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:643px) {
    .product-info-title {
        font-size: 30px;
    }
}
@media only screen and (max-width:475px) {
    .product-info-title {
        font-size: 20px;
    }
}

.search-button{
      height: 46px;
  width: 236px;
  padding: 1px 6px;
}
.search-button::placeholder {
  font-size: 18px; /* Applies to placeholder */
  color: #555;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 230px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  padding: 4px 0;
}
